@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-header {
  background: rgb(30, 64, 175);
  background: -moz-linear-gradient(
    180deg,
    rgba(30, 64, 175, 1) 0%,
    rgba(17, 24, 39, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(30, 64, 175, 1) 0%,
    rgba(17, 24, 39, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(30, 64, 175, 1) 0%,
    rgba(17, 24, 39, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e40af",endColorstr="#111827",GradientType=1);
}

.bg-gradient-planetCard {
  background: rgb(55, 65, 81);
  background: -moz-radial-gradient(
    circle,
    rgba(55, 65, 81, 1) 0%,
    rgba(17, 24, 39, 1) 70%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(55, 65, 81, 1) 0%,
    rgba(17, 24, 39, 1) 70%
  );
  background: radial-gradient(
    circle,
    rgba(55, 65, 81, 1) 0%,
    rgba(17, 24, 39, 1) 70%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#374151",endColorstr="#111827",GradientType=1);
}
